<!DOCTYPE html>
<html>
<head>
  <title>Helix</title>
  <link rel="stylesheet" href="/static/homestyle.css">
</head>
<body>

<div class="navbar">
    <img src="https://png.pngtree.com/png-vector/20250422/ourmid/pngtree-blue-shield-badge-clipart-illustration-png-image_16042877.png" alt="logo"> 
    <h2> WELCOME TO HELIX</h2> 
 
</div>

<div class="text">
  <p>"Protecting Gig Workers" </p>
</div>

<div class="gigworkers">
  <h1>Because your hard work deserves real protection </h1>
  <p>Whether you're delivering food, driving, or freelancing late at night — Helix is always with you</p>

  
  <div class="buttons">
  <a href="/register">
    <button class="primary"> Register</button>
  </a>

  <a href="/login">
    <button class="secondary"> Login</button>
  </a>
</div>
</div>

<div class="features">

  <div class="card">
    <h3> Smart Plans for You</h3>
    <p>Your work is unique, so your insurance should be too. We create plans that fit your life, not the other way around.</p>

  <div class="card">
    <h3> Fast Claims</h3>
    <p>No delays, no confusion. Just quick support when you need it the most.</p>
  </div>

  <div class="card">
    <h3> Affordable for Everyone</h3>
    <p>We know every rupee matters. That’s why our plans start at just <span class="price" > ₹25/week - ₹60/week </span> — giving you strong protection without putting pressure on your pocket.</p>
  </div>
  
</div>
<div class="example">
  <h3> Example to Understand Our Solution-</h3>
  <h2> A Day in Ramesh’s Life</h2>

  <p class="ex-text">
    Ramesh Kumar is a delivery partner in Delhi. Every day, he rides through traffic, heat, and pollution — just to make sure families get their food on time.
  </p>

  <p class="ex-text">
    Late nights, long hours, and constant risks are part of his job. But one accident changed everything. With no insurance, he struggled to pay hospital bills and lost his daily income.
  </p>

  <p class="ex-highlight">
    That’s where <b>GigShield</b> steps in  
    Today, Ramesh works with confidence — knowing he has affordable protection, fast claims, and support when he needs it the most.
  </p>

  <p class="ex-ending">
    Because people like Ramesh don’t just deliver orders — they keep the city moving 
  </p>
</div>


</body>
</html><!DOCTYPE html>